html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Source Sans Pro";
}

#section-1 {
  background-color: #f9c530;
  background-image: url(https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-masthead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
}

h1 {
  margin: 0;
  padding-top: 300px;
}